[submodule "common"]
        path = common
        url = git://anongit.freedesktop.org/gstreamer/common
[submodule "gst-libs/ext/ffmpeg"]
	path = gst-libs/ext/ffmpeg
	url = git://github.com/mrchapp/ffmpeg.git
